    Jupyter notebook for practicing with graph data science.

    Much of the code here is patterned after chapter 2 in
        Graph Data Science with Neo4j
        Estelle Scifo, Packt Publishing Ltd, 2023

    Michael A. Goodrich
    Brigham Young University

    March 2023

---

Requires
* os
* matplotlib
* seaborn
* pandas
* ipykernel ???

---

_Show some example database entries_

In [5]:
""" Get data example from Kaggle 

    https://www.kaggle.com/datasets/rajugc/imdb-top-250-movies-dataset

    Copy code from the following to read in data:

    https://www.kaggle.com/code/rajugc/imdb-top-250-movies-eda

    The code is released under the Apache 2.0 open source license.
"""

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# I

df = pd.read_csv('IMDB Top 250 Movies.csv') # prefix this file name with the directory in which you stored it
df.head()   # This function returns the first n rows for the object based on position. 
            # It is useful for quickly testing if your object has the right type of data in it.
            # https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose

_Show the information about what is contained in each column_

In [6]:
df.info()
# This method prints information about a DataFrame including the index dtype and 
# columns, non-null values and memory usage.
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         250 non-null    int64
 1   name         250 non-null    object
 2   year         250 non-null    int64
 3   rating       250 non-null    float64
 4   genre        250 non-null    object
 5   certificate  250 non-null    object
 6   run_time     250 non-null    object
 7   tagline      250 non-null    object
 8   budget       250 non-null    object
 9   box_office   250 non-null    object
 10  casts        250 non-null    object
 11  directors    250 non-null    object
 12  writers      250 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 25.5+ KB

_Gather some summary information_

In [26]:
df.value_counts('genre')

object     0.769231
int64      0.153846
float64    0.076923
dtype: float64